@font-face {
  font-family: 'Superman Normal';
  font-weight: 100;
  src: url(./static/CCUpUpAndAway.otf);
}

@font-face {
  font-family: 'Superman Bold';
  src: url(./static/CCUpUpAndAway.otf);
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background: white;
  color: rgb(27, 27, 31);
  max-width: 1216px;
  font-family: 'Superman Normal';
}

path {
  fill: transparent;
}

text {
  fill: #ff9800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  /* text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

//////////////////// Navigation //////////////////

.nav--logo {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav--logo h4 {
  font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  /* margin: 20px 0 0 48px; */
  transition: color 0.25s ease-out 0.5s;
}

.content--count,
.content--subCopy p {
  flex: 0 0 50%;
  font-family: 'Superman Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content--count {
  font-weight: 500;
  line-height: 16px;
}

.content--count span:nth-of-type(2) {
  width: 40px;
  height: 1px;
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  opacity: 0.2;
}

.content--count,
.content--subCopy p {
  font-family: 'Superman Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.content--subCopy p {
  font-weight: 400;
  line-height: 24px;
}

.nav--navMenu {
  /* padding: 22px 0 20px; */
  height: 100%;
  cursor: pointer;
  transform: translateZ(0);
  opacity: 1;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.main--contentWrapper {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.66s,
    visibility 0s linear 0s;
  z-index: 2;
  position: relative;
  /* pointer-events: none; */
}

.main--contentWrapper.no-pointer-events {
  pointer-events: none;
}

.content--page {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  color: #3a3a40;
  transition: color 0.25s ease-out;
}

.content--fixedPageContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content--gridContainer {
  width: 84.44444%;
  max-width: 1216px;
  /* margin: 0 auto; */
  position: relative;
  height: 100%;
}

.content--contentWrapper {
  position: absolute;
  padding: 1rem;
  top: 25%;
  left: 0;
  right: 0;
  width: 40%;
}

.content--contentWrapper h1 {
  font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
  font-size: 88px;
  font-weight: 600;
  line-height: 80px;
  /* letter-spacing: -3px; */
  font-size: calc(70px + 18 * (100vw - 1024px) / 416);
  line-height: calc(64px + 30 * (100vw - 1024px) / 416);
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}

.main--contentWrapper h1 {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  margin-left: 5px;
  /* margin-top: -350px; */
  align-items: center;
  justify-content: center;
}
.main--contentWrapper h1 span {
  position: absolute;
}
.main--contentWrapper h1 span:nth-child(odd) {
  left: 22px;
  top: 27px;
  transform: skew(0deg, -27deg) scaleY(1.33333);
}
.main--contentWrapper h1 span:nth-child(even) {
  left: 94px;
  top: 105px;
  transform: skew(60deg, -27deg) scaleY(0.66667);
}

.content--subCopy {
  margin: 80px 0 0;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.01)
  );

  position: fixed;
  bottom: 0;
  left: 0;
  color: #5a5757;
}

.content--count,
.content--subCopy p {
  flex: 0 0 50%;
  font-family: 'Superman Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
}

.nav--navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,
    transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s, visibility 0s linear 0s;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.01)
  );
  color: #5a5757;
}

.nav--gridContainer {
  display: flex;
  justify-content: space-between;
  /* width: 84.44444%; */
  max-width: 1216px;
  margin: 0 auto;
  /* margin: 0 1.2rem; */
  padding: 1rem 0 0;
  padding: 48px 0 0;
}

@media screen and (max-width: 1024px) {
  .nav--gridContainer {
    width: 90.625%;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 40px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 90.625%;
  }
  .content--contentWrapper {
    width: 48.27586%;
  }
  .content--contentWrapper h1 {
    font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2px;
    font-size: calc(56px + 14 * (100vw - 768px) / 256);
    line-height: calc(48px + 16 * (100vw - 768px) / 256);
  }
  .content--subCopy {
    margin: 72px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 75%;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .nav--gridContainer {
    width: 87.5%;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 32px; */
  }
  .content--button--2FkPG,
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.5%;
  }
  .content--contentWrapper {
    width: 52.38095%;
    top: 20%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    );
  }
  .content--contentWrapper h1 {
    font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 56px;
  }
  .content--subCopy {
    margin: 64px 0 32px;
  }
  .content--subCopy p {
    flex: 0 0 80%;
  }
}

@media screen and (max-width: 500px) {
  .nav--gridContainer {
    width: 87.23404%;
    padding: 24px 0 0;
  }
  .nav--logo h5 {
    /* margin: 20px 0 0 16px; */
  }
  .content--count {
    flex: 0 0 100%;
  }
  .content--gridContainer {
    width: 87.23404%;
  }
  .content--contentWrapper {
    width: 100%;
    top: 16%;
  }
  .content--contentWrapper h1 {
    font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 48px;
  }
  .content--subCopy {
    margin: 40px 0 0;
  }
  .content--subCopy p {
    flex: 0 0 80%;
    margin: 24px 0 0;
  }
}

@media screen and (max-height: 650px) {
  .content--count {
    display: none;
  }
  .content--contentWrapper {
    /* top: 20%; */
  }
  .content--contentWrapper h1 {
    font-family: 'Superman Bold', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .content--subCopy {
    margin: 0;
  }
  .content--subCopy p {
    font-family: 'Superman Normal', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.hidden {
  position: absolute;
  left: -9999px;
}

.transparent {
  opacity: 0.5;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.side-pannel {
  top: 0;
}
